Screen {
    layout: vertical;
}

/* Main content area */
#task-content {
    height: 1fr;
    width: 100%;
    align: center middle;
    overflow: hidden; 
}

RichLog {
    width: 100%;
    /* Height is set dynamically */
    dock: bottom;
    border: round $accent;
    background: $surface;
    color: $text;
}
